.terminal-component{
    padding: 5%;
    max-height: 83%;
    height: 83%;
}

.index_editor__JoDSg{
    border-radius: 5px;
    margin-top: -vh;
    margin-bottom: -3vh;
}

.index_editorWithTopBar__L6XKw{
    height: 100%;
}
