.app{
  color: black;
  background-color: black;
  height: 100%;
  width: 100%
}

.body{
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

